@font-face 
  font-family: "Proxima Nova Regular"
  src: url("./fonts/ProximaNova/ProximaNova-Regular.otf")
  src: url("./fonts/ProximaNova/ProximaNova-Regular.otf") format("opentype"),
  url("./fonts/ProximaNova/ProximaNova-Regular.woff") format("woff"),
  url("./fonts/ProximaNova/ProximaNova-Regular.ttf") format("truetype")
  font-weight: normal
  font-style: normal
  font-display: auto
@font-face 
  font-family: "Proxima Nova Semibold"
  src: url("./fonts/ProximaNova/ProximaNova-Semibold.otf")
  src: url("./fonts/ProximaNova/ProximaNova-Semibold.otf") format("opentype"),
  url("./fonts/ProximaNova/ProximaNova-Semibold.woff") format("woff"),
  url("./fonts/ProximaNova/ProximaNova-Semibold.ttf") format("truetype")
  font-weight: normal
  font-style: normal
  font-display: auto
@font-face 
  font-family: "Proxima Nova Extrabld"
  src: url("./fonts/ProximaNova/ProximaNova-Extrabld.otf")
  src: url("./fonts/ProximaNova/ProximaNova-Extrabld.otf") format("opentype"),
  url("./fonts/ProximaNova/ProximaNova-Extrabld.woff") format("woff"),
  url("./fonts/ProximaNova/ProximaNova-Extrabld.ttf") format("truetype")
  font-weight: normal
  font-style: normal
  font-display: auto
=reg
  font-family: "Proxima Nova Regular"
  
=bold
  font-family: "Proxima Nova Semibold"
  
=large
  font-family: "Proxima Nova Extrabld"
  