*
  box-sizing: border-box
  outline: none
a
  &:link
    text-decoration: none
    color: $dark-tc
  &:visited
    text-decoration: none
    color: $dark-tc
  &:active  
    text-decoration: none
    color: $dark-tc
  &:hover 
    text-decoration: none
    color: $dark-tc
    
body
  margin: 0
  padding: 0
  font-family:  sans-serif
  +reg  
  color: $dark-tc
      

.container
  width: 1170px
  margin: auto
