*
  box-sizing: border-box
  outline: none
a
  &:link
    text-decoration: none
  &:visited
    text-decoration: none
  &:active  
    text-decoration: none
  &:hover 
    text-decoration: none
    
    

.container
  width: 1170px
  margin: auto
