*
  box-sizing: border-box
  outline: none
a
  &:link
    text-decoration: none
    color: $dark-tc
  &:visited
    text-decoration: none
    color: $dark-tc
  &:active  
    text-decoration: none
    color: $dark-tc
  &:hover 
    text-decoration: none
    color: $dark-tc
h
  &1,&2,&3
    padding: 0
    margin: 0
.button
  background: $main-color
  border: none 
  &:hover
    background: lighten($main-color, 10%)
    cursor: pointer 
body
  margin: 0
  padding: 0
  font-family:  sans-serif
  +reg  
  color: $dark-tc
      
ul, li
  list-style: none
  margin: 0
  padding: 0
  
.container
  width: 1170px
  margin: auto
.section
  padding-top: 100px
  
  &-button
    +bold
    margin-top: 6px
    margin-left: -32px
    width: 244px
    font-size: 28px
    font-weight: 400
    line-height: 58px
    text-transform: uppercase
    text-align: center
.input
  opacity: 0.65
  color: #020202
  +reg
  font-style: italic
  font-size: 18px
  font-weight: 400
  
  width: 305px  
  
  border: none
  border-bottom: 1px solid
    