
.choice

  position: relative
  &:after
    content: ''
    width: 61.5%
    height: 80%
    position: absolute
    left: 0
    bottom: 0
    background: $background
    z-index: -1  
  
  &__section
    padding-top: 110px
    padding-bottom: 30px

  &-block
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap
    
  &-element
    flex-basis: 60%
    display: flex
    flex-wrap: wrap
    justify-content: space-between
    align-items: center
   
    &__item
      width: 198px
      height: 168px
      background: $light
      margin: 18px
      display: flex
      flex-direction: column
      align-items: center
      &:nth-child(5)
        padding-top: 3px
      &:nth-child(6)
        padding-top: 9px
      &:nth-child(3n-2)
        margin-left: 0
      &:nth-child(3n)
        margin-right: 35px
    &__icon
      display: inline
      text-align: center
      padding: 16px 0
    
    &__label
      +reg
      font-size: 18px
      font-weight: 400
      line-height: 23px
      text-transform: uppercase 
      text-align: center 
    
     
  &__element
    padding: 47px 0

  &-advantage
    flex-basis: 40%
    height: 385px
    
    &__list
      height: 100%
      margin-left: 57px
      display: flex
      flex-direction: column
      justify-content: space-between
    &__item
      display: flex
      opacity: 0
      &:nth-child(1)
        animation: fadeInRight
        animation-duration: 200s
        animation-delay: 5s
        animation-iteration-count: infinite
      &:nth-child(2)
        animation: fadeInRight
        animation-duration: 200s
        animation-delay: 6s

      &:nth-child(3)
        animation: fadeInRight
        animation-duration: 200s
        animation-delay: 7s

      &:nth-child(4)
        animation: fadeInRight
        animation-duration: 200s
        animation-delay: 8s


    &__counter
      position: relative
      display: inline-block
      padding-right: 55px
      width: 70px
      +large
      font-size: 35px
      font-weight: 400
      line-height: 25px
      text-transform: uppercase
      color: $main-color
      &:before
        content: ''
        width: 31px
        height: 2px
        background: $dark-tc
        position: absolute
        top: 10px
        right: 10px

    &__text
      display: block
      +bold
      font-size: 20px
      font-weight: 400
      line-height: 25px
      color: $dark-tc
      



  


// .fadeInRight 
  // animation-name: fadeInRight
  