.hero
  position: relative
  display: flex
  flex-direction: column
  background: $black
  .slick
    &-dots
      position: absolute
      bottom: 2px
      display: block
      width: 100%
      padding: 0
      list-style: none
      text-align: center
      li
        position: relative
        display: inline-block
        width: 18px
        height: 18px
        margin: 0 6px
        padding: 0
        cursor: pointer
        button
          border: none
          background: $light
          color: transparent
          width: 20px
          height: 20px
          padding: 5px
          cursor: pointer
          &:hover
            outline none
            background: $main-color
            color: $main-color
            &:before
              opacity: 1
          &:focus
            outline none
            background: $main-color
            color: $main-color
            &:before
              opacity: 1 
    &-active
     
      button
        border: none
        background: $main-color
        color: transparent
        width: 20px
        height: 20px
        padding: 5px
        
        &:hover
          outline none
          background: $main-color
          cursor: pointer
          
        &:focus
          outline none
          background: $main-color
          

  &-slider
    width: 100%
    position: absolute
    top: 0
    left: 0
    
    
      
    &__1
      position: absolute
      background-image: url("../img/hero/bgi-hero.png")
      opacity: 0.2
      min-width: 1200px
      min-height: 745px
      width: 100%
      background-repeat: no-repeat
      background-size: cover
    &__2
     
      background-image: url("../img/hero/bgi-hero.png")
      opacity: 0.4
      min-width: 1200px
      min-height: 745px
      width: 100%
      background-repeat: no-repeat
      background-size: cover
    &__3
      
      background-image: url("../img/hero/bgi-hero.png")
      opacity: 0.6
      min-width: 1200px
      min-height: 745px
      width: 100%
      background-repeat: no-repeat
      background-size: cover
    &__4
      
      background-image: url("../img/hero/bgi-hero.png")
      opacity: 0.3
      min-width: 1200px
      min-height: 745px
      width: 100%
      background-repeat: no-repeat
      background-size: cover
  

  &-block
    width: 100%
    
  &__title
    padding-left: 5px
    width: 100%
    margin: 0
    padding: 0
    margin-top: 100px 
    display: inline-block
    text-align: justify
    +bold
    color: $main-color
    font-size: 35px
    line-height: 55px
    text-transform: uppercase
    margin-bottom: 0px
  &__subtitle
    color: $light-tc
    margin-left: -2px
    +reg
    font-size: 35px
    font-weight: 400
    line-height: 50px
  &__text
    
    color: $light-tc
    +reg
    font-size: 20px
    font-weight: 300
    line-height: 28px
  &__more
    display: inline-block
    margin: 29px 0
    padding: 11px 38px
    +bold
    font-size: 18px
    font-weight: 400
    background: $main-color
    text-transform: uppercase
    margin-bottom: 270px
