.hero
  &-block
    width: 100%
  &__title
    padding-left: 5px
    width: 100%
    margin: 0
    padding: 0
    margin-top: 200px 
    display: inline-block
    text-align: justify
    +bold
    color: $main-color
    font-size: 35px
    line-height: 55px
    text-transform: uppercase
    margin-bottom: 0px
  &__subtitle
    // color: $light-tc
    margin-left: -2px
    +reg
    font-size: 35px
    font-weight: 400
    line-height: 50px
  &__text
    opacity: 0.42
    // color: $light-tc
    +reg
    font-size: 20px
    font-weight: 300
    line-height: 28px
  &__more
    display: inline-block
    margin: 29px 0
    padding: 11px 38px
    +bold
    font-size: 18px
    font-weight: 400
    background: $main-color
    text-transform: uppercase