.navbar
  position: relative
  &:after
    content: ''
    width: 35.5%
    height: 100%
    position: absolute
    right: 0
    top: 0
    background: $background
    z-index: -1
  &-menu-link
    display: none
    width: 50px
    height: 50px
    background: white
    border-radius: 50%
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4)
    position: fixed
    top: 20px
    right: 20px
    span
      display: block
      height: 2px
      width: 18px
      background: black
      position: absolute
      left: 50%
      margin-left: -9px
      top: 50%
      margin-top: -1px
      &:before
        content: ''
        display: block
        height: 2px
        width: 18px
        background: black
        position: absolute
        left: 50%
        margin-left: -9px
        top: 50%
        margin-top: -6px
        transition: all 0.2s
      &:after
        content: ''
        display: block
        height: 2px
        width: 18px
        background: black
        position: absolute
        left: 50%
        margin-left: -9px
        top: 50%
        margin-top: -4px
        transition: all 0.2s
    &-active
      span
        transform: rotate(90deg)
        &:before
          transform: rotate(30deg)
          margin-bottom: 0
          
        &:after
          transform: rotate(-30deg)
          margin-bottom: 0
          margin-left: 0
          
  &-block
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap
  &__block
    margin-top: 2px
  &-logo
    display: flex
    flex-direction: column
    &__logo
      margin-top: 2px
      padding-top: 3px
    &__text
      padding-left: 5px
      +large
      font-size: 15px
      margin-top: -2px
      font-weight: 400    
      text-transform: uppercase
      font-style: italic
  &-links
    +reg  
    flex-basis: 50%
    display: flex
    justify-content: space-around
    &__item
      display: inline
      margin: 0 23px
      
      font-size: 16px
      font-weight: 400
      line-height: 40px
      position: relative
      
      &:hover
        color: $main-color
        cursor: pointer
        
        &:after
          display: unset
         
      &:first-child
        margin-left: 40px  
      &:last-child        
        &:before
          display: none
      &:before
        content: ""
        position: absolute
        right: 0 
        margin: 14px 0
        margin-right: -25px
        width: 1px
        height: 30%
        border-right: 1px solid #ececec
      &:after
        content: ""
        position: absolute
        display: none
        width: 100%
        bottom: 7px
        left: 0
        height: 2px
        background:  $main-color
        
  &-communication
    display: flex
    align-items: center
    justify-content: space-between
    
    &__phone
    
    &__link
      display: flex
      align-items: center
      
    &__icon
      
    &__code
      font-size: 18px
      padding: 0 5px
      +reg
    &__number
      font-size: 18px
      +large
      font-weight: 700
      padding-right: 40px
    &__callback
      display: inline-block
      padding: 7px 15px
      
      font-size: 14px
      +bold
      &:hover
        background-color: lighten($main-color, 10%)
        cursor: pointer



