@media (max-width: 320px)
  .container
    max-width: 300px
    margin: auto
  
  
  .navbar
    &-links
      display: none
    &-communication
      display: none



  .hero
    &__title
      display: inline
      font-size: 
  
  
  
  .news
    &-page
      margin: 0
      padding: 10px 0
      &:nth-child(3-n)
        display: none