@media (max-width: 567px)
  .container
    max-width: 550px
    margin: auto 15px
    .navbar
      &-communication
        flex-direction: column
      &-links
        display: flex
        justify-content: center
        &__item
          padding: 0
          padding-left: 0
          margin: 2px
      &-logo 
        padding: unset 
  .hero
    &__more
      margin-bottom: 220px
    &-slider
      &__1
        min-width: 557px
          
      &__2
        min-width: 557px
      &__3
        min-width: 557px
      &__4
        min-width: 557px
  

  .offer
    &-form
      width: 297px
      height: 385px
  
  .input
    font-size: 14px